<h1>Details for <%= @user.name %></h1>

<p><strong>Name:</strong> <%= @user.name %></p>
<p><strong>ID:</strong> <%= @user.id %></p>
<p><strong>Created At:</strong> <%= @user.created_at %></p>

<h2>Invitations Received</h2>
<% if @user.received_invitations.none? %>
  None.
<% else %>
  <ul>
    <% @user.received_invitations.each do |invitation| %>
      <li><%= link_to invitation.event.location, invitation_path(invitation) %></li>
    <% end %>
  </ul>
<% end %>

<h2>Events Created</h2>
<% if @user.created_events.none? %>
  None.
<% else %>
  <ul>
    <% @user.created_events.each do |event| %>
      <li><%= link_to event.location, event_path(event) %></li>
    <% end %>
  </ul>
<% end %>

<h2>Previously Attended Events</h2>

<% if @prev_events.none? %>
  None.
<% else %>
  <ul>
    <% @prev_events.each do |event| %>
      <li><%= link_to event.location, event_path(event) %></li>
    <% end %>
  </ul>
<% end %>

<h2>Upcoming Events</h2>

<% if @upcoming_events.none? %>
  None.
<% else %>
  <ul>
    <% @upcoming_events.each do |event| %>
      <li><%= link_to event.location, event_path(event) %></li>
    <% end %>
  </ul>
<% end %>