<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <%= link_to "All Events", events_path %> || 
      <% if session[:user_id] == nil %>
        <%= link_to "Sign In", login_url %>
      <% else %>
        <%= link_to "Create Event", new_event_path %> || 
        <%= link_to "Send Invitation", new_invitation_path %> || 
        <strong>Signed In:</strong> <%= link_to current_user.name, user_path(current_user) %> || 
        <%= link_to "Sign Out", logout_url %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
